// Contextual backgrounds
@mixin bg-variant($parent, $color, $ignore-warning: true) {
  #{$parent} {
    background-color: $color !important;
  }
  a#{$parent},
  button#{$parent} {
    @include hover-focus {
      background-color: darken($color, 10%) !important;
    }
  }
}

@mixin bg-gradient-variant($parent, $color, $ignore-warning: true) {
  #{$parent} {
    //  background: url(/img/back.png);
    background-image: url("https://t4.ftcdn.net/jpg/02/80/87/13/240_F_280871351_nlQ67gTpeRvtYC8u5K3Aap4syRdeJgdx.jpg");
    // background-image: url("https://wallpapersplanet.net/sites/default/files/city-wallpapers-40479-2339390.png");
    background-size: cover;
    background-position: center;
  }
}

@mixin bg-translucent-variant($parent, $color, $ignore-warning: true) {
  #{$parent} {
    background-color: darken(
      rgba($color, $translucent-color-opacity),
      7%
    ) !important;
  }
  a#{$parent},
  button#{$parent} {
    @include hover-focus {
      background-color: darken(
        rgba($color, $translucent-color-opacity),
        12%
      ) !important;
    }
  }
}
